<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <title>eShop</title>
   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
   <link rel="stylesheet" href="styles/reset.css">
   <link rel="stylesheet" href="styles/style.css">
</head>

<body>
   <div id='app'>
      <header class="header">
         <div class="wrap header__inner">
            <input type="text" class="header__search" v-model='search' />
            <general-button @click="filterGoods" class="header__searchBtn">Искать</general-button>
            <general-button @click="setVision">Корзина</general-button>
         </div>
      </header>
      <main class="main">
         <div class="wrap goods">
            <goods-item v-for="item in filteredGoods" :key="item.id" :item='item'></goods-item>
         </div>
         <basket-card v-if="basketCardVision">
            <template v-slot:header>
               <general-button @click="setVision" class="card__btnClose">X</general-button>
            </template>
         </basket-card>
      </main>
   </div>

   <script src="script.js"></script>
</body>

</html>